body {
	background: black;
	color: white;
	margin: 1em;
}

img {
	height: 150px;
	width: 200px;
	margin-left: auto;
	margin-right: auto;
	padding: .75em;
	-webkit-filter: blur(2px) sepia(0.9);
	opacity: .75;
}

img:hover {
	-webkit-filter: blur(0px) sepia(0.0);
	opacity: 1;
}